{%extends "base.html" %}
<br />
{% load static %}
<br />
{%block title%}Contact Us{%endblock%}
<br />

{% block banner %}
<div class="container">
  <img
    src="{% static 'banner/contact.jpg' %}"
    class="d-block w-100 responsive-img"
    alt="banner-image"
  />
</div>
{% endblock %}
<br />

{%block content%}
<div class="container mt-3">
  <br />
  <h2 class="text-center">Contact Us</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">Address : Kandivali west Mumbai Maharashtra</p>
    <p class="fs-4 text-center">Mobile : 8369604197</p>
    <p class="fs-4 text-center">Email : sumitme1620@gmail.com</p>
    <p class="fs-4 text-center">Git : sumitme1620</p>
    <p class="fs-4 text-center">
      Linkedin : linkedin.com/in/sumit-singh-5aa819217
    </p>
    <p class="fs-4 text-center">Whatsapp : 7619995038</p>
    <p class="fs-4 text-center">Instagram : sumitme1620</p>
  </div>
</div>
<br /><br />
{%endblock%}
